.twemoji-everywhere-emoji {
  pointer-events: none;
  height: 22px;
  vertical-align: middle;
}

.twemoji-everywhere-emoji .emoji {
  height: 100%;
  width: auto;
  vertical-align: top;
}

.mention {
  display: inline-flex;
  align-items: center;
  white-space: pre;
}

.twemoji-everywhere-emoji.emoji-mention {
  height: 19px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  white-space: pre;
}
.twemoji-everywhere-emoji.emoji-mention .emoji {
  height: 16px;
}

.emoji-member-list-role-name {
  height: 16px;
}

.emoji-profile-roles {
  height: 12px;
}

[class*="members-"] .twemoji-everywhere-emoji.emoji-member-name {
  height: 19px;
}

[class*="nameAndDecorators-"] > [class*="name-"] > [class*="username-"] > [class*="username-"] {
  display: inline-flex;
  align-items: center;
  white-space: pre;
}

.twemoji-everywhere-emoji.emoji-member-list-name {
  height: 16px;
}

[class*="channelName-"] {
  display: inline-flex;
  align-items: center;
  white-space: pre;
}
.twemoji-everywhere-emoji.emoji-channel-name {
  height: 19px;
}

.twemoji-everywhere-emoji.emoji-category-name {
  height: 16px;
}

[class*="placeholder-"][class*="slateTextArea-"] {
  display: inline-flex;
  align-items: center;
  white-space: pre;
}
.twemoji-everywhere-emoji.emoji-textarea-placeholder {
  height: 19px;
}

.twemoji-everywhere-emoji.emoji-author-name {
  height: 16px;
}

.twemoji-everywhere-emoji.emoji-footer-name {
  height: 56px;
}

[data-text-variant="heading-xxl/semibold"] .twemoji-everywhere-emoji {
  height: 42px;
}

.twemoji-everywhere-emoji.emoji-code-block {
  height: 16px;
  vertical-align: initial;
}

.twemoji-everywhere-emoji.emoji-code-block .emoji {
  height: 14px;
  vertical-align: middle;
}

.twemoji-everywhere-emoji.emoji-inline-code {
  height: 18px;
  vertical-align: initial;
}

.twemoji-everywhere-emoji.emoji-inline-code .emoji {
  height: 15px;
  vertical-align: middle;
  margin-top: -0.2em;
  padding: 0.3em 0;
}
